/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;

}


body {
	font-family: sans-serif;
	background: url(bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #e9c823;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #272929;
}

.h2title {
	text-align: center;
	color: #272929;
}

.fullLogo {
  margin: 10px auto 5px auto;
  height: 90px;
  display: block;
}

#msform {
  width: 50%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: none;
}

.mpulogo {
  height: 50px;
}

.wheelcontainer {
	margin-top: 10px;
	padding:0;
	display:flex;
	align-items:center;
	justify-content: center;
	position: relative;
    height: 400px;
}

.succesCircle {
  position: absolute;
  z-index: 100;
  display: none;
}


.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;

}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: transparent;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark {
  height: 400px;
  width: 400px;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

.startContainer {
  width: 400px;
  height: 400px;
  background-image: url("icons/startbg.png");
  border-radius: 50%;
  position: absolute;
  transition: 3s;
  box-sizing: border-box;
  z-index: 2;
  border: 10px solid #272929;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
}

.startButtonLogo {
  position: absolute;
  top: 23px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.startButtonThumb {
  position: absolute;
  top: 23px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 300px;
  display: none;
}

.startButton {
  color: #272929;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 350px;
  height: 350px;
}

.hideElement {
transition-delay: 2000ms;
display:none;
}

.bounce-out {
  animation: bounce-out 2s ease;
  animation-fill-mode: forwards;

}
@keyframes bounce-out {
  0% { transform: scale(1); }
  25% { transform: scale(1.1); }
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
	transform: scale(0.17);
	border: none;

    
  } 
}

.container{
	width:400px;
	height:400px;
	background-color: #555;
	border-radius:50%;
	border:15px solid #555;
	position: relative;
	overflow: hidden;
	transition: 3s;
	box-sizing:border-box;
	transform: rotate(0);
	
}

.container img {
	height: 60px;
	top: 10px;
	margin-bottom: 15px;
    position: relative;
}

.container div{
	height:50%;
	width:170px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	/*display:flex;*/
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
	font-weight:bold;
	font-family:sans-serif;
	color: #272929;
	left:100px;
	text-transform: uppercase;
}


.container .one:active, .container .two:active, .container .three:active, .container .four:active, .container .five:active {
	background-color: #f9e501;
}


.container .one{
	background-color: #272929;
	left:50%;
}
.container .two{
	background-color: #272929;
	transform: rotate(72deg);
}
.container .three{
	background-color: #272929;
	transform:rotate(144deg);
}
.container .four{
	background-color: #272929;
	transform: rotate(216deg);
}
.container .five{
	background-color: #272929;
	transform: rotate(288deg);
}

.arrow{
	position: absolute;

	left: 50%;
	transform: translateX(-50%);
	color: #272929;
	z-index: 100;
	top: -32px;
	display: none;
	
}

.arrow::before{
	content:"\1F817";
	font-size:50px;
}

.dayimg, .ageimg, .timeimg, .alcimg, .verstossimg {
		display: none;
	}


#spin{
	position: absolute;

	

	z-index: 1;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #272929;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}


@keyframes rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
    	-webkit-transform: rotate(360deg);
        transform: rotate(360deg);
	}
}
*/
/* @keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} / */

/*form styles*/

#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #272929;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 1rem;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #272929;
	text-transform: uppercase;
	font-size: 0.8rem;
	width: 20%;
	float: left;
	position: relative;
}
#progressbar li span {
	display: none;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 0.8rem;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #f9e501;
	color: #272929;
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

#msform {
  width: 100%;

}

}

@media only screen and (max-width: 670px) {

h1 {
  font-size: 2rem;
}

}

@media only screen and (max-width: 400px) {

.container {
  width: 300px;
  height: 300px;

}

.container div {
  width: 120px;
  left: 75px;
}

.container img {
  height: 40px;
}

#progressbar li {
  font-size: 0.6rem;
}

.wheelcontainer {
  height: 300px;
}

.checkmark {
  height: 300px;
  width: 300px;
}

.startContainer {
  width: 300px;
  height: 300px;
}

.startButton {
  width: 250px;
  height: 250px;
}

.startButtonLogo {
  top: 12px;
  height: 250px;
}

.startButtonThumb {
  height: 220px;
}

@keyframes bounce-out {
  0% { transform: scale(1); }
  25% { transform: scale(1.1); }
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
	transform: scale(0.215);
	border: none;
 
  } 
}



}