/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;

}


body {
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

#msform {
  width: 50%;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.mpulogo {
  height: 50px;
}

.wheelcontainer {
	margin-top: 10px;
	padding:0;
	display:flex;
	align-items:center;
	justify-content: center;
	overflow:hidden;
	position: relative;
}



.container{
	width:400px;
	height:400px;
	background-color: #ccc;
	border-radius:50%;
	border:15px solid #ccc;
	position: relative;
	overflow: hidden;
	transition: 3s;
	box-sizing:border-box;
	transform: rotate(0);
	
}

.container img {
	height: 60px;
	top: 10px;
	margin-bottom: 15px;
    position: relative;
}

.container div{
	height:50%;
	width:170px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	/*display:flex;*/
	align-items: center;
	justify-content: center;
	font-size:12px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	left:100px;
	text-transform: uppercase;
}


.container .one:active, .container .two:active, .container .three:active, .container .four:active, .container .five:active {
	background-color: #f9e501;
}


.container .one{
	background-color: #f9e501;
	left:50%;
}
.container .two{
	background-color: #272929;
	transform: rotate(72deg);
}
.container .three{
	background-color: #272929;
	transform:rotate(144deg);
}
.container .four{
	background-color: #272929;
	transform: rotate(216deg);
}
.container .five{
	background-color: #272929;
	transform: rotate(288deg);
}

.arrow{
	position: absolute;

	left: 50%;
	transform: translateX(-50%);
	color: #272929;
	z-index: 100;
	top: -32px;
	
}

.arrow::before{
	content:"\1F817";
	font-size:50px;
}

#spin{
	position: absolute;

	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:20px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}


@keyframes rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
    	-webkit-transform: rotate(360deg);
        transform: rotate(360deg);
	}
}
*/
/* @keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} / */

/*form styles*/

#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #272929;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #272929;
	text-transform: uppercase;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #f9e501;
	color: #272929;
}



